streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
chromadb
pysqlite3-binary
sentence-transformers
beautifulsoup4
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
