streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-text-splitters
langchain-google-genai
chromadb
sentence-transformers
torch
torchvision
python-dotenv
unstructured
